<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <meta name="format-detection" content="telephone=no" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="css/jquery.css" />
        <link rel="stylesheet" href="css/jquery.theme.css" />
        <script src="lib/jquery.js"></script>
    </head>
    <body>
        <div id="view"></div>
        <script id="login-tpl" type="text/x-handlebars-template">
            <div data-role="header" data-position="fixed">
                <h1>Login</h1>
            </div>
            <div data-role="content">
                <form id="login-form">
                    <input type="text" name="email" placeholder="Email">
                    <input type="password" name="password" placeholder="Password">
                    <input type="Submit" value="Login">
                </form>
				<div id="login-error" class="alert alert-success" style="display:none">
					The login information you provided was incorrect. Please try again.
				</div>
            </div>
			<div id="google-login">
				<a>Sign In With Google!</a>
				<p></p>
			</div>
        </script>

        <script id="welcome-tpl" type="text/x-handlebars-template">
            <div>
                <div data-role="header" data-postion="fixed"><h1>Welcome, {{username}}!</h1></div>
            </div>
        </script>

        <script src="lib/jquery-mobile.js"></script>
        <script src="js/adapters/localstorage-adapter.js"></script>
        <script src="lib/fastclick.js"></script>
        <script src="lib/handlebars.js"></script>
        <script src="js/app.js"></script>
    </body>
</html>
